.container {
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    margin-top: 30px;   
}

.header {
    display: flex;
    flex-wrap: nowrap;
    font-size: 30px;
    font-weight: bold;
    height: 4rem;
    margin-bottom: 1rem;
}

.scores {
    margin-left: auto;
    display: flex;
}

.scores > * {
    float: left;
    margin-left: 0.5rem;
}

input {
    font-size: 0px;
    border-style: none;
}

input[type=submit] {
    background-color: #8f7a66;
}

form#reset-form input {
    border-radius: 5px;
    height: 4rem;
    width: 4rem;
    background-image: url(icons/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.score-title {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #B9ADA0;
    border-radius: 5px;
    color: white;
}

.score-title div {
    color: #CBC1B4;
    font-size: 60%;
}

form#controls {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    height: 12rem;
}

form#controls input {
    display: block;
    background-image: url(icons/dirrection.svg);
    background-repeat: no-repeat;
    background-position: 30% 50%;
    background-size: 70%;
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
}

input[value=up] {
    transform: translate(100%, 0) rotate(90deg);
}
input[value=down] {
    transform: translate(100%, 100%) rotate(-90deg); 
}
input[value=left] {
    transform: translate(0, -100%); 
}
input[value=right] {
    transform: translate(200%, -200%) rotate(180deg); 
}

.regles {
    text-align: center;
    margin-top: 1rem;
    background-color: #CBC1B4;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 1rem;
}

.table-container {
    width: 100%;
    height: 30rem;
    position: relative;
}

.grid-area {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#grille {
    background-color: #B9ADA0;
    border-spacing: 0.6rem;
    font-size: 50px;
    font-weight: bold; 
    text-align: center;
    table-layout: fixed;
}

form#overlay input {
    background-color: rgba(255, 233, 205, 0.5);
    color: rgb(92, 92, 92, 0.5);
    font-size: 3em;
    font-weight: bold;
}

#grille td {
    line-height: 0px;
    border-radius: 5px;
}

#grille td.c0 {
    background-color : #CBC1B4;
}
#grille td.c2 {
    background-color : #eee4da;
}
#grille td.c4 {
    background-color : #ede0c8;
}
#grille td.c8 {
    background-color : #f2b179;
    color: white;
}
#grille td.c16 {
    background-color : #f59563;
    color: white;
}
#grille td.c32 {
    background-color : #f67c5f;
    color: white;
}
#grille td.c64 {
    background-color : #f65e3b;
    color: white;
}
#grille td.c128 {
    background-color : #edcf72;
}
#grille td.c256 {
    background-color : #edcc61;
}
#grille td.c512 {
    background-color : #edc850;
    color: white;
}
#grille td.c1024 {
    background-color : #edc53f;
    color: white;
}
#grille td.c2048 {
    background-color : #edc22e;
    color: white;
}

h1 {
    margin: 0px;
    padding: 0px;
}

body {
    color: #766E65;    
    background-color: #F9F8EF;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

